body{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 0;
}

#quote-box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: tomato;
	min-height: 40%;
	width: 40%;
	min-width: 150px;
	padding: 2.5%;
	border-radius: 10% 10% 10% 0;
	transition-property: background-color;
	transition-duration: 2s;
}

#arrow{
	border-style: solid;
	position: absolute;
	border-color: rgb(255, 99, 71) transparent;
	border-width: 50px 50px 0 0;
	transition-property: border-color;
	transition-duration: 2s;
}

#quote{
	margin-left: 10%;
	margin-right: 10%;
	text-align: justify;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#quote em{
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}

#author{
	align-self: center;
}

#tweet{
	color: #00aced;
	position: absolute;
}


#prev, #next{
	border: none;
	height: 100%;
	width: 5%;
	min-width: 75px;
	background-color: #00aced; 
}

#prev{
	visibility: hidden;
}
