body{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
}

#quote-box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: grey;
	min-height: 40%;
	width: 40%;
	min-width: 200px;
	padding: 2.5%;
	border-radius: 10% 10% 10% 0;
}

#arrow{
	border-style: solid;
	position: absolute;
	border-color: grey transparent;
	border-width: 50px 50px 0 0;
	bottom: 23.7%;
	left: 25%;
}

#quote{
	margin-left: 10%;
	margin-right: 10%;
	text-align: justify;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#quote em{
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}

#author{
	align-self: center;
}

#random{
	background-color: white;
	align-self: flex-end;
}

#tweet{
	align-self: flex-start;
	color: white;
	margin-left: 10%;
}

#random{
	border: none;
	margin-right: 10%;
}
